body
{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.top-container
{
    display: flex;
    background-color: black;
    height: 400px;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
    gap: 25px;

}

.top-left-side
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.topper
{
    background-color:black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 65%;
    padding-right: 10px;
}

.text-and-button
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: red;
}

.top-header
{
    font-size: 60px;
    font-weight: 500;
}


.size-big-img
{
    height: 350px;
    width: 650px;
    padding-right: 0;
}

a
{
    text-decoration: none;
    color: white;
}



ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;

}

.top-button
{
    height: 40px;
    width: 140px;
    margin:0px;
    padding: 0;
    border-radius: 12px;
    font-size: 20px;
    background-color:#f8f8f8;
    color: black;
    margin-top: 20px;
}
button:hover
{
    background-color: #e43c0d;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px #580c09;
}

.header-logo-sizing
{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.header-logo-sizing:hover
{
    transform: scale(1.1);
    box-shadow: 5px 3px 8px 15px #360907;
}


li:hover
{
    transform: scale(1.1);
    box-shadow: 8px 10px 15px #861713;
}


/* images and text section (second part of the webpage) */

.img-container
{
    display: flex;
    justify-content: center;
    color: brown;
    margin-bottom: 100px;
    gap: 60px;
    text-align: center;
    overflow-wrap: break-word;
}

.img-text
{
    width: 230px;
    color: #000000ba;
    margin-top: 25px;
}


.img-class
{
    height: 320px;
    width: 230px;
    box-shadow: 10px 13px 25px rgba(0, 0, 0, 0.705);
}

.img-header
{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 50px;
}


/* second section done, third starts here*/

.quote-container
{
    display: flex;
    background-color: rgba(128, 128, 128, 0.373);
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 350px;
    align-items: center;
    flex-direction: column;
    color: black;
}

.quote
{
    width: 900px;
    font-size: 35px;
    font-weight: 100;
}

.quote-by
{
    margin-top: 35px;
}

.quote-center
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: italic;
    
}


/* third section is finished, fourth starts here*/

.sign-up-box
{
    display: flex;
    background-color:  #1f2a35;
    height: 150px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.header
{
    font-weight: 800;
    font-size: larger;
}

.body
{
    font-size: 14px;
}

.left-side-text
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer
{
    background-color: #1f2a35;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.749);
}

.bottom-button
{
    height: 40px;
    width: 140px;
    margin:0px;
    padding: 0;
    border-radius: 12px;
    font-size: 20px;
    background-color:#f8f8f8;
    color: black;
}

.quote-and-sign
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}